<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Matsim.Generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MatsimGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Matsim.Generator.Properties.Settings>
            <setting name="Root" serializeAs="String">
                <value>.\</value>
            </setting>
            <setting name="Config" serializeAs="String">
                <value>.\input</value>
            </setting>
            <setting name="Output" serializeAs="String">
                <value>.\output</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Step" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VehicleCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PopulationCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Start" serializeAs="String">
                <value>04/15/2015 06:00:00</value>
            </setting>
            <setting name="End" serializeAs="String">
                <value>04/15/2015 06:20:00</value>
            </setting>
            <setting name="ActivitiesCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NetworkFile" serializeAs="String">
                <value>.\network.xml</value>
            </setting>
            <setting name="LoadNetwork" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransitCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="DepartureCount" serializeAs="String">
                <value>1</value>
            </setting>
        </Matsim.Generator.Properties.Settings>
        <MatsimGenerator.Properties.Settings>
            <setting name="Root" serializeAs="String">
                <value>.\</value>
            </setting>
            <setting name="Config" serializeAs="String">
                <value>.\input</value>
            </setting>
            <setting name="Output" serializeAs="String">
                <value>.\output</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Step" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VehicleCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PopulationCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Start" serializeAs="String">
                <value>04/15/2015 06:00:00</value>
            </setting>
            <setting name="End" serializeAs="String">
                <value>04/15/2015 06:20:00</value>
            </setting>
            <setting name="ActivitiesCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NetworkFile" serializeAs="String">
                <value>.\network.xml</value>
            </setting>
            <setting name="LoadNetwork" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransitCount" serializeAs="String">
                <value>4</value>
            </setting>
        </MatsimGenerator.Properties.Settings>
    </userSettings>
</configuration>