<?xml version="1.0" ?>
<!--<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v1.dtd">-->
<!DOCTYPE config SYSTEM "${config}\config_v1.dtd">
<config>

	<module name="network">
		<param name="inputNetworkFile" value="${config}\${network}" />
	</module>

	<module name="plans">
		<param name="inputPlansFile" value="${config}\population.xml" />
	</module>

	<module name="controler">
		<param name="outputDirectory" value="${output}" />
		<param name="firstIteration" value="0" />
		<param name="lastIteration" value="0" />
		<param name="eventsFileFormat" value="xml" />
    <param name="mobsim" value="qsim" />
	</module>

	<module name="qsim">
    <param name="startTime" value="${start}" />
    <param name="endTime" value="${end}" />
    <param name="mainMode" value="car" />
	</module>
  
  <module name="scenario">
    <param name="useTransit" value="true" />
    <param name="useVehicles" value="true" />   <!-- private vehicles ???-->
  </module>
  
  <module name="transit">
		<param name="transitScheduleFile" value="${config}\schedule.xml" />
		<param name="vehiclesFile" value="${config}\vehicles.xml" />
		<param name="transitModes" value="pt" />
	</module>
  
  <module name="changeLegMode">
    <param name="modes" value="pt" />
  </module>

  <module name="planCalcScore" >
    <param name="lateArrival" value="-18" />
    <param name="earlyDeparture" value="-0" />
    <param name="performing" value="+6" />
    <param name="traveling" value="-6" />
    <param name="waiting" value="-0" />

    <param name="activityType_0"            value="h" />
    <!-- home -->
    <param name="activityTypicalDuration_0" value="12:00:00" />

    <param name="activityType_1"            value="w" />
    <!-- work -->
    <param name="activityTypicalDuration_1" value="08:00:00" />
    <param name="activityOpeningTime_1"     value="07:00:00" />
    <param name="activityLatestStartTime_1" value="09:00:00" />
    <param name="activityClosingTime_1"     value="18:00:00" />
  </module>
</config>
